@model Escuelas.UI.Models.RelevamientoModelo

@{
    ViewBag.Title = "Informe de Herramientas y Capacitacion";
    Layout = "~/Views/Shared/_PDF.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<fieldset>
    <legend>Relevamiento</legend>
    @using (Html.BeginForm("EditarRelevamiento", "Relevamiento"))
    {   
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Relevamiento.ID)
        <div class="editor-label">
            <h3>Informacion de Distrito</h3>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Distrito.Region, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Distrito.Region)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Distrito.ID, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Distrito.ID)
            </div>
            <br />
            <h3>Informacion de Escuela</h3>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Numero, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Numero)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Nombre, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Nombre)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Director, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Director)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.ViceDirector, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.ViceDirector)
            </div>
            <div>
                @Html.LabelFor(m => m.Relevamiento.TieneADM, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.TieneADM)
            </div>
        </div>
        
    }
    <br />
    <h3>Software</h3>
    <table>
        <tr>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].PlataformaSoftware)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].TipoSoftware)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].Nombre)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].Descripcion)
            </th>
        </tr>
        </thead>
                <tbody>
                    @if (Model.Relevamiento.Softwares != null && Model.Relevamiento.Softwares.Count() > 0)
                    {
                        foreach (var item in Model.Relevamiento.Softwares)
                        {
                        <tr>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.PlataformaSoftware.Nombre)
                            </td>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.TipoSoftware.Nombre)
                            </td>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No hay herramientas de software cargadas
                            </td>
                        </tr>
                    }
                </tbody>
    </table>
    <br />
    <h3>Capacitacion</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Capacitaciones[0].Grado)
                </th>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Capacitaciones[0].Curso)
                </th>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Capacitaciones[0].Descripcion)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Relevamiento.Capacitaciones != null && Model.Relevamiento.Capacitaciones.Count() > 0)
            {
                foreach (var item in Model.Relevamiento.Capacitaciones)
                {
                <tr>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Grado)
                    </td>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No hay Capacitaciones cargadas
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</fieldset>

