@model Escuelas.NegocioEntidades.CategoriaValor

@{
    if (Model.ID != null && Model.ID > 0)
    {
        ViewBag.Title = "Editar Opción";
    }
    else
    {
        ViewBag.Title = "Agregar Opción";
    }
    
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Opción</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Categoria.Nombre)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Categoria.ID, new SelectList(ViewBag.ListaCategorias, "Value", "Text", Model.Categoria.ID),(Model.ID != 0) ? (object)new { disabled = "disabled" } : new {  })
            @Html.ValidationMessageFor(model => model.Categoria.ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al listado de Opciones", "OpcionesIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
