@model Escuelas.NegocioEntidades.Escuela

@{
    if(Model.ID != null && Model.ID > 0)
    {
        ViewBag.Title = "Editar Escuela";
    }
    else
    {
        ViewBag.Title = "Agregar Escuela";
    }
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Escuela</legend>

        @Html.HiddenFor(model => model.ID)

         <div class="editor-label">
            @Html.LabelFor(model => model.Distrito.Nombre)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Distrito.ID, new SelectList(ViewBag.ListaDistritos, "Value", "Text", Model.Distrito.ID))
            @Html.ValidationMessageFor(model => model.Distrito.ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.Director)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Director)
            @Html.ValidationMessageFor(model => model.Director)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ViceDirector)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ViceDirector)
            @Html.ValidationMessageFor(model => model.ViceDirector)
        </div>
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver a Listado de Escuelas", "EscuelaIndex")
</div>

@section Scripts {
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
                   
    
}
