@model IEnumerable<Escuelas.NegocioEntidades.Escuela>

@{
    ViewBag.Title = "Listado Escuelas";
}

<h2>Listado Escuelas</h2>
<br />
<p>
    @Html.ActionLink("Agregar Nueva Escuela", "EditarEscuela",new { escuelaId = 0 })
</p>
<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.TipoEstablecimiento)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEstablecimiento.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarEscuela", new { escuelaId=item.ID }) |
            @Html.ActionLink("Ver Detalles", "DetalleEscuela", new { escuelaId=item.ID }) |
            @Html.ActionLink("Borrar", "BorrarEscuela", new { escuelaId=item.ID })
        </td>
    </tr>
}

</table>
