@model Escuelas.UI.Models.RelevamientoModelo

@{
    ViewBag.Title = "Informe de Relevamiento";
    Layout = "~/Views/Shared/_PDF.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<fieldset>
    <legend>Relevamiento</legend>
    @using (Html.BeginForm("EditarRelevamiento", "Relevamiento"))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Relevamiento.ID)
        <div class="editor-label">
            <h3>Informacion de Distrito</h3>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Distrito.Region, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Distrito.Region)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Distrito.ID, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Distrito.ID)
            </div>
            <br />
            <h3>Informacion de Escuela</h3>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Numero, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Numero)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Nombre, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Nombre)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.Director, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.Director)
            </div>
            <div>
                @Html.LabelFor(model => model.Relevamiento.Escuela.ViceDirector, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.Escuela.ViceDirector)
            </div>
            <div>
                @Html.LabelFor(m => m.Relevamiento.TieneADM, new { style = "display:inline" })
                @Html.DisplayFor(model => model.Relevamiento.TieneADM)
            </div>
        </div>
        
    }
    <br />
    <h3>Maquinas</h3>
    <table>
        <tr>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Maquinas[0].Nombre)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Maquinas[0].SistemaOperativo)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Maquinas[0].MemoriaRAM)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Maquinas[0].CapacidadDiscoDuro)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Maquinas[0].Funciona)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Maquinas[0].PerteneceARed)
            </th>
        </tr>
        @if (Model.Relevamiento.Maquinas != null && Model.Relevamiento.Maquinas.Count() > 0)
        {
            foreach (var item in Model.Relevamiento.Maquinas)
            {
            <tr>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.SistemaOperativo)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.MemoriaRAM)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.CapacidadDiscoDuro)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.Funciona)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.PerteneceARed)
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No hay maquinas cargadas
                </td>
            </tr>
        }
    </table>
    <br />
    <h3>Otros Dispositivos</h3>
    <table>
        <tr>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Dispositivos[0].TipoDispositivo)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Dispositivos[0].Marca)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Dispositivos[0].Descripcion)
            </th>
        </tr>
        @if (Model.Relevamiento.Dispositivos != null && Model.Relevamiento.Dispositivos.Count() > 0)
        {
            foreach (var item in Model.Relevamiento.Dispositivos)
            {
            <tr>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.TipoDispositivo.Nombre)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No hay dispositivos cargados
                </td>
            </tr>
        }
    </table>
    <br />
    <h3>Servicios</h3>
    <table>
        <tr>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Servicios[0].TipoServicio)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Servicios[0].Compañia)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Servicios[0].EsPago)
            </th>
        </tr>
        @if (Model.Relevamiento.Servicios != null && Model.Relevamiento.Servicios.Count() > 0)
        {
            foreach (var item in Model.Relevamiento.Servicios)
            {
            <tr>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.Compañia)
                </td>
                <td style="text-align: center; width: 200px">
                    @Html.DisplayFor(modelItem => item.EsPago)
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No hay servicios cargados
                </td>
            </tr>
        }
    </table>
    <br />
    <h3>Software</h3>
    <table>
        <tr>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].PlataformaSoftware)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].TipoSoftware)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].Nombre)
            </th>
            <th style="text-align: center; width: 200px">
                @Html.DisplayNameFor(model => model.Relevamiento.Softwares[0].Descripcion)
            </th>
        </tr>
        </thead>
                <tbody>
                    @if (Model.Relevamiento.Softwares != null && Model.Relevamiento.Softwares.Count() > 0)
                    {
                        foreach (var item in Model.Relevamiento.Softwares)
                        {
                        <tr>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.PlataformaSoftware.Nombre)
                            </td>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.TipoSoftware.Nombre)
                            </td>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td style="text-align: center; width: 200px">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No hay herramientas de software cargadas
                            </td>
                        </tr>
                    }
                </tbody>
    </table>
    <br />
    <h3>Capacitacion</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Capacitaciones[0].Grado)
                </th>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Capacitaciones[0].Curso)
                </th>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Capacitaciones[0].Descripcion)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Relevamiento.Capacitaciones != null && Model.Relevamiento.Capacitaciones.Count() > 0)
            {
                foreach (var item in Model.Relevamiento.Capacitaciones)
                {
                <tr>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Grado)
                    </td>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No hay Capacitaciones cargadas
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <h3>Historial Comentarios</h3>
    <div style="white-space: pre-wrap;">
         @if (Model.HistorialComentarios != null && Model.HistorialComentarios.Count() > 0)
         {
                @Html.DisplayFor(model => model.HistorialComentarios, new { })
         }
        else
        {
             <p>No hay Comentarios Cargados</p>
         }
    </div>

    <h3>Seguimiento Pedagogico</h3>
    <div style="white-space: pre-wrap;">
         @if (Model.HistorialSegPedagogico != null && Model.HistorialSegPedagogico.Count() > 0)
         {
        @Html.DisplayFor(model => model.HistorialSegPedagogico)
         }
        else
        {
             <p>No hay Seguimientos Pedagogicos Cargados</p>
         }
    </div>

    <h3>Imagenes</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Imagenes[0].Titulo)
                </th>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Imagenes[0].Descripcion)
                </th>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Imagenes[0].Contenido)
                </th>
                <th style="text-align: center; width: 200px">
                    @Html.DisplayNameFor(model => model.Relevamiento.Imagenes[0].Foto)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Relevamiento.Imagenes != null && Model.Relevamiento.Imagenes.Count() > 0)
            {
                foreach (var item in Model.Relevamiento.Imagenes)
                {
                <tr>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td style="text-align: center; width: 200px">
                        @Html.DisplayFor(modelItem => item.Contenido)
                    </td>
                    <td>
                        <img src="/Relevamiento/RetrieveImage/@item.ID" alt="" height=100 width=200 />
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No hay Imagenes cargadas</td>
                </tr>
            }
        </tbody>
    </table>

</fieldset>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        function CargarEscuelas(dropdown) {

            var distId = dropdown.value;
            showProgress();
            $('#ddlEscuela').attr("disabled", "disabled");
            $.getJSON("CargarEscuelasPorDistritoAsync", { DistId: distId }, actualizarEscuelas)
            .error(function (request, textStatus, errorThrown) { alert(errorThrown); })


        };

        actualizarEscuelas = function (data) {

            var ddl = $('#ddlEscuela');
            ddl.empty();

            $(data).each(function () {
                $(document.createElement('option'))
                    .attr('value', this.Value)
                    .text(this.Text)
                    .appendTo(ddl);
            });

            hideProgress();
            $('#ddlEscuela').removeAttr("disabled");
        };
    </script>
}
