@model Escuelas.UI.Models.RelevamientoBusqueda

@{
    ViewBag.Title = "Listado Relevamientos";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                <br />
                <p>
                @Html.ActionLink("Agregar Nuevo Relevamiento", "EditarRelevamiento",new { relevamientoId = 0,tActivo = 0 })
                </p>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
@using (Html.BeginForm())
                {
            <table class="Busqueda" style="border: dashed 2px lightgray;width: 490px;height:40px">
                <tr>
                    <td> @Html.LabelFor(model => model.DistritoId)</td>
                    <td>@Html.DropDownListFor(model => model.DistritoId, new SelectList(ViewBag.ListaDistritos, "Value", "Text", Model.DistritoId), new { id = "ddlDistrito", onchange = "CargarEscuelas(this);" })</td>
                    <td> @Html.LabelFor(model => model.EscuelaId)</td>
                    <td>@Html.DropDownListFor(model => model.EscuelaId, new SelectList(ViewBag.ListaEscuelas, "Value", "Text", Model.EscuelaId), new { id = "ddlEscuela" })</td>
                    <td> <input type="submit" value="Buscar" /></td>
                </tr>
            </table>
    
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Relevamientos[0].Escuela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relevamientos[0].CantMaquinas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relevamientos[0].TieneADM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relevamientos[0].FechaRelevo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relevamientos[0].FechaModificacion)
        </th>
        <th></th>
    </tr>
 @if (Model.Relevamientos != null && Model.Relevamientos.Count() > 0)
 {            
foreach (var item in Model.Relevamientos) {
    <tr>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Escuela.Nombre)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.CantMaquinas)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.TieneADM)
        </td>
        <td style="text-align: center;width:200px">
           @item.FechaRelevo.ToShortDateString()
        </td>
        <td style="text-align: center;width:300px">
            @if(item.FechaModificacion != null)
            {
               <span> @(((DateTime)item.FechaModificacion).ToShortDateString())</span>
            }
        </td>
        <td style="text-align: center;width:200px">
            @Html.ActionLink("Editar", "EditarRelevamiento", new { relevamientoId=item.ID, tActivo = 0 }) |
            @Html.ActionLink("Ver Detalles", "DetalleRelevamiento", new { relevamientoId=item.ID })
        </td>
    </tr>
    }
 }
else
{
    <tr>
    <td colspan="3">
        No hay relevamiento disponibles
    </td>
    </tr>
}
</table>
<br /><br /><br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
       
        function CargarEscuelas(dropdown) {
            
            var distId = dropdown.value;
            showProgress();
            $('#ddlEscuela').attr("disabled", "disabled");
            var mivar;
            $.getJSON("CargarEscuelasPorDistritoAsync", { DistId: distId }, actualizarEscuelas)
            .error(function (request, textStatus, errorThrown) { alert(errorThrown); })
            
        
        };

        actualizarEscuelas = function (data) {
            
            var ddl = $('#ddlEscuela');
            ddl.empty();
            
            $(data).each(function() {
                $(document.createElement('option'))
                    .attr('value', this.Value)
                    .text(this.Text)
                    .appendTo(ddl);
            });
            
            hideProgress();
            $('#ddlEscuela').removeAttr("disabled");
        };
        </script>
}
