@{
    ViewBag.Title = "Sobre Nosotros";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}

<article>
    <p>
        Sistema realizado por Alumnos de la <b>Universidad CAECE</b> y de la <b>Universidad de San Martín</b>.
    </p>
</article>

<aside>
    <h3></h3>
    <p>
       <b>Mas Informacion:</b> <br>
       www.caece.edu.ar <br>
       www.unsam.edu.ar
    </p>
    <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Sobre Nosotros", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    </ul>
</aside>