@{
    ViewBag.Title = "Sobre Nosotros";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}

<article>
    <p>
        Proyecto de Invesigacion realizado por Alumnos de la Universidad CAECE.
    </p>
</article>

<aside>
    <h3></h3>
    <p>
       Mas Informacion: www.caece.edu.ar
    </p>
    <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Sobre Nosotros", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    </ul>
</aside>