@using Escuelas.UI.Helpers;
@model IEnumerable<Escuelas.UI.Models.EscuelaModel>

@{
    ViewBag.Title = "Listado Escuelas";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                <br />
                <p>
                @Html.ActionLink("Agregar Nueva Escuela", "EditarEscuela",new { escuelaId = string.Empty })
                </p>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
 <script type="text/javascript">
                $(function () {
                    $("#tblEscuela").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
                    .tablesorterPager({ container: $("#pagerEscuela"), size: $(".pagesize option:selected").val() });
                });
        </script>
<table id="tblEscuela" class="tablesorter">
    <thead>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Escuela.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Escuela.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Escuela.Distrito.Nombre)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Escuela.Direccion)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.Escuela.TipoEstablecimiento)
        </th>
        
        <th></th>
    
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Escuela.Numero)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Escuela.Nombre)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Escuela.Distrito.Nombre)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Escuela.Direccion)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Escuela.TipoEstablecimiento.Nombre)
        </td>
        <td style="text-align: center;width:300px">
            @Html.ActionImage("EditarEscuela", new { escuelaId=item.encId },"~/Images/ico/editar22.png","Editar Opción")
            
            @Html.ActionImage("BorrarEscuela", new { escuelaId=item.encId }, "~/Images/ico/eliminar24.ico", "Borrar Opción")
        </td>
    </tr>
}
        </tbody>
</table>
<div id="pagerEscuela" class="pager">
  <form>
    <img src="/Content/images/first.png" class="first"/>
    <img src="/Content/images/prev.png" class="prev"/>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <img src="/Content/images/next.png" class="next"/>
    <img src="/Content/images/last.png" class="last"/>
    <select class="pagesize">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </form>
</div>