

@model IEnumerable<Escuelas.NegocioEntidades.Escuela>

@{
    ViewBag.Title = "Listado Escuelas";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                <br />
                <p>
                @Html.ActionLink("Agregar Nueva Escuela", "EditarEscuela",new { escuelaId = 0 })
                </p>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}

<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito.Nombre)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.TipoEstablecimiento)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Distrito.Nombre)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td style="text-align: center;width:200px">
            @Html.DisplayFor(modelItem => item.TipoEstablecimiento.Nombre)
        </td>
        <td style="text-align: center;width:300px">
            @Html.ActionLink("Editar", "EditarEscuela", new { escuelaId=item.ID }) |
            @*@Html.ActionLink("Ver Detalles", "DetalleEscuela", new { escuelaId=item.ID }) | *@
            @Html.ActionLink("Borrar", "BorrarEscuela", new { escuelaId=item.ID },new { onclick = "return confirm('¿Está seguro que desea borrar esta escuela?');" })
        </td>
    </tr>
}

</table>
